doctype html
html(lang='en')
    head
        title TO DO App
        link(rel='stylesheet', href='/static/main.css')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap', rel='stylesheet')
    body
        div.wrapper
            h1.logo TO DO APP
            h2 This application helps you to save your todos
            block block1
            h4 To change todo status done click on that todo
